/* HTML */



*, body{
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h1{
    font-family: "";
}

/* NAV */
    #nav{
        text-align: center;
        width: 100vw;
        margin: 3rem;
        position: absolute;
    }

    #logo, #nav-item{
        display: inline-block;
    }

    #logo{
        padding-right: 8rem;
        font-size: 1.5rem;
    }

    #logo a{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.726);
        text-shadow: 0 0 2px #fffb00bd;
        font-weight: 745;
    }
    #logo a:focus{
        transform: scale(103%);
       border-bottom: none;
       color: rgb(0, 26, 255);
    }

    #nav-item{
        padding-left: 10%; 
        padding-right: 4rem;   
    }

   #nav-item a{
       font-size: 1rem;
       margin: 0 0.5rem;
       text-decoration: none;
       color: rgb(0, 0, 0);
       font-weight: 500;
       text-shadow: 0px 0px 1px rgba(255, 230, 0, 0.747);
       transition: transform ease-out 0.3s;
   }

   #nav-item a:hover{
       transform: scale(103%);
       border-bottom: none;
       color: rgb(0, 26, 255);
       font-weight: 500;
       font-size: 18px;
       
   }
/* NAV */

/* HEADER */
header{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/950681f7-d867-42dc-b573-36d14fa10e55/db0sck9-5cbd5724-a6da-4371-b485-71dc65726fcd.jpg/v1/fill/w_1600,h_1067,q_75,strp/mountain_vector_by_zikri767-db0sck9.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl0sIm9iaiI6W1t7InBhdGgiOiIvZi85NTA2ODFmNy1kODY3LTQyZGMtYjU3My0zNmQxNGZhMTBlNTUvZGIwc2NrOS01Y2JkNTcyNC1hNmRhLTQzNzEtYjQ4NS03MWRjNjU3MjZmY2QuanBnIiwid2lkdGgiOiI8PTE2MDAiLCJoZWlnaHQiOiI8PTEwNjcifV1dfQ.IHseUlUZL-NNM53G8Qu0SWQpI-MSwzqYu3HsLCehO_g");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    min-height: 100vh;
}

.header-home p{
    font-family: "";
}

.header-home{
    text-shadow: 0.5px 2px 3px whitesmoke;
    position: absolute;
    top:19rem;
    left: 30%;
    
}

.header-home #p-top, #p-bottom{
    line-height: 3rem;
    font-weight: 500;
    color: rgb(88, 76, 76);
    text-shadow: 0 0 2px #ffffff83;
    font-size: 2.7rem;
    margin: 0;
}

#head-p{
    color: rgb(236, 226, 226);
    text-shadow: 0 0 1px #fbff2ab7;
    width: 53%;
    font-size: 1.1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* WELCOME SECTION */

#home{
    max-width: 100vw;
    min-height: 100vh;
    padding: 2rem 20rem;
    
}

section h1:nth-last-of-type(1){
    text-shadow: 1.2px 1.2px 2px rgb(122, 118, 118);
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

#home-top{  
    display: flex;
}

#home-top p{
    color: gray;
    width: 54%;
    text-align: justify;
    font-size: 1.4rem;
    margin-left: 4rem;
    margin-bottom: 4rem;
    padding-top: 3rem;
}

#um{
    position: relative;
    margin-top: 2.5rem;
    margin-left: 120px;
}

#home-bottom{
    text-align: center;
    display: flex;
}

#home-bottom div img{
    margin: auto;
    margin-bottom: 1rem;
}

#home-bottom div h6{
    color: rgb(62, 142, 208);
}

#home-bottom div p{
    padding: 1rem 2.8rem;
}

#home-bottom div{
    margin: 1rem;
    transition: 0.8s ease-out transform;
}

#home-bottom div:hover{
    box-shadow: 1px 1.2px 10px gray;
    transform: scale(110%);
}

.hr{
    color: whitesmoke;
    margin: 2rem 3rem;
}

/* PROJECTS */
#projects{
    max-width: 100vw;
    min-height: 100vh;
    padding: 0 2rem;
}

#projects h1{
    text-shadow: 1.2px 1.2px 2px gray;
    margin-bottom: 3rem;
    margin-top: 0;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

#projects div{
    box-shadow: 1px 1.2px 10px gray;
    min-height: 35rem;
    display: inline-block;
    width: 24.71%;
}

#projects div div{
    text-align: center;
    width: 100%;
}

#projects .card-image{
    padding: 0;
    margin: 2px;
}

.prj-h5{
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 700;
}

.prj-p{
    margin: 0 2rem;
    padding: 2rem 0 3rem 0;
}

.prj-btn{
    margin-top: 2rem;
}

/* VD PROJECTS */



/* PRICE CARDS */
#pricing {
    padding: 110px;
}

.price-columns {
    
    float: left;
    width: 33.3%;
    padding: 8px;
    border-radius: 4rem;
}

.price {
    list-style-type: none;
    border: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    border-radius:6px;
}

.price .header {
    background-color: rgb(151, 41, 255);
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: none;
    border-radius: 7;
    padding: 10px;
    text-align: center;
}

.price .grey {
    background-color: rgb(255, 241, 241);
    font-size: 20px;
}

.price-button {
    background-color: #e6813e;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
}

.button:hover {
    background: #89ff28;
}
/*Pricing Card*/

/* TEAM */

#team{
    max-width: 100vw;
    min-height: 100vh;
    text-align: center;
}

#team div{
    display: inline-block;
    margin: 0.4rem 1.3rem;
}

.team div h5{
    margin: 0.5rem 0;
}

.team div h6{
    margin-top: 0;
    padding-top: 0;
    color: grey;
}

.team-grid{
    transition: ease 0.5s transform;
}

.team-grid:hover{
    transform: scale(105%);
}

/* Vd slider */
#vd-slider h1{
    margin-top: 1rem;
}

#vd-slider{
    background-color: #ffbfbf;
    background-image: linear-gradient(65deg, #dbc9c9 0%, #797780 100%);
}

.video-container {
    margin: 0 auto;
    max-width: 100%;
    width: 1040px;
    height: 590px;
    position: relative;
    margin-bottom: 2rem;
  }
  /* Video Slider */
  .video-slider {
    display: none;
  }
  /* Individual Slide: Container */
  .video-slide {
    position: relative;
    margin: 0 auto;
  }
  /* Individual Slide: Video */
  .video-slide video {
    width: 100%;
    height: 590px;
  }
  
  /* Navigation */
  .video-slider-btn {
    border: none;
    display: inline-block;
    color: #fff;
    font-size: 100px;
    padding: 10px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    z-index: 99999;
    opacity: .7;
    transition: all 350ms ease-in-out;
  }
  .video-slider-btn:hover {
    opacity: 1;
    transition: all 350ms ease-in-out;
  }
  .video-slider-btn.left-side {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
  }
  .video-slider-btn.right-side {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
}


/* img slider */
#life-in-zippy {
    width: 100%;
    align-items: center;
    padding: 110px;
    background: rgb(255, 249, 246);
}

/* Position the image container (needed to position the left and right arrows) */
.gallery {
    position: relative;
}

.gallery .work-life img {
    vertical-align: middle;
}

/* Hide the images by default */
.work-life {
    display: none;
}

.work-life img {
    width: 100%;
    height: 100%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.row {
    height: 100px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.img-column {
    float: left;
    width: 16.66%;
    height: 100px;
}

.img-column img {
    width: 100%;
    height: 100px;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

/* img slider */


/* NEWS-LETTER */

#newsLetter{
    color: whitesmoke;
    height: 30vw;
    width: 100vw;   
    background-image: url("https://images.unsplash.com/photo-1609442338072-284a4f6e9d4c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2383&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
} 

#newsLetter h1{
    margin-top: 2rem;
}

.control{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#newsL{
    margin-right: 0.1rem;
    width: 40%;
}
/* NEWSLETTER */

/* BLOG */

#blog{
    margin-top: 4rem;
    max-width: 100vw;
    min-height: 70vh;
    padding: 0 2rem;
}

#blog h1{
    text-shadow: 1.2px 1.2px 2px gray;
    margin-bottom: 2rem;
    margin-top: 0;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

#blog div{
    display: flex;
    justify-content: center;
}

#blog div div{
    box-shadow: 0.5px 0.5px 2px gray;
    width: 30%;
    box-shadow: 1px 1.2px 10px gray;
    min-height: 40rem;
    display: inline-block;
    margin: 0.2rem;
}

#blog div div div{
    text-align: center;
    width: 100%;
}

#blog .card-image{
    padding: 0;
    margin-top: 1rem;
}

/* BLOG */



/* FORM */
#contact{
    max-width: 100vw;
    min-height: 100vh;
}

#contact div{
    display: inline;
}
/* contact */

/* FORM */

form{
    background-color: #ffd000;
}

form h1{
    padding: 2rem 35rem 0 2rem;
    margin-bottom: 2rem;
}

#form-contact *{
    margin-left: 0.2rem;
    font-weight: 700;
    margin: 0.6rem;
}


#btn-form{
    margin-top: 2rem;
    width: 67%;
}
/* FORM */

/* FOOTER */

.footer{
    text-align: center;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: top;
}

.footer div{
    margin: 2rem;
}

.footer div h5{
    font-size: 1rem;
}

.icon{
    cursor: pointer;
    transition: 0.2s ease-in transform;
}

.icon:hover{
    transform: scale(120%);
}